<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <title>Assignment4</title>
</head>
<body style="background-color:teal;">
<ul>
    <li><a href="/" class="active">Home</a></li>
    <li><a href="/page2.html">Page2</a></li>
        <li><a href="/page3.html">Page3</a></li>


</ul>
<div style="float:right;">
    <h1>Shruthaja P Rao</h1>
    <h2>1002118604</h2>
</div>
<div style="margin-top:3%;">
    <form action="/" method="post">

    </form>
    <div style="margin-top:3%;" id='myDiv'>

    </div>

</div>

<script>
var data = [{
  x: {{r}},
  y: {{result}},  mode: 'lines+markers',

  name:'Db',
  type: 'scatter'
},{
 x: {{r}},
  y: {{redis_time}},  mode: 'lines+markers',

  name: 'Redis',
  type: 'scatter'
}];
console.log(data);
var layout = {
  title: '1000 Random Tuples vs Time Taken To Fetch'
};
Plotly.newPlot('myDiv',data,layout);




</script>
</body>
</html>