<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <title>Assignment4</title>
</head>
<body style="background-color:teal;">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/page2.html" class="active">Page2</a></li>
    <li><a href="/page3.html" >Page3</a></li>


</ul>
<div style="float:right;">
    <h1>Shruthaja P Rao</h1>
    <h2>1002118604</h2>
</div>
<div style="margin-top:3%;">
    <form action="/page2.html" method="post">
        <label>Create Box</label><br>
        <input name="lat" type="text" placeholder="Enter min lat">
        <input name="lon" type="text" placeholder="Enter min lon">

        <input name="mlat" type="text" placeholder="Enter max lat">

        <input name="mlon" type="text" placeholder="Enter max lon">

        <input style="margin-top:2%" type="submit" placeholder="Click me!">
    </form>
    <form action="/page22.html" method="post">
        <input name="smag" type="text" placeholder="Enter starting mag">
        <input name="emag" type="text" placeholder="Enter ending mag">
        <input style="margin-top:2%" type="submit" placeholder="Click me!">
    </form>

    <form action="/page23.html" method="post">
        <input name="lat1" type="text" placeholder="Enter min lat">
        <input name="lon1" type="text" placeholder="Enter min lon">
        <input name="range" type="text" placeholder="Enter Range">
        <input style="margin-top:2%" type="submit" placeholder="Click me!">
    </form>

    <div style="margin-top:3%;" id="myDiv">

    </div>

    <script>
var data = [{
  x: {{r}},
  y: {{result}},  mode: 'lines+markers',

  name:'Db',
  type: 'scatter'
},{
 x: {{r}},
  y: {{redis_time}},  mode: 'lines+markers',

  name: 'Redis',
  type: 'scatter'
}];
console.log(data);
var layout = {
  title: '1000 Random Tuples vs Time Taken To Fetch'
};
Plotly.newPlot('myDiv',data,layout);

    </script>

</body>
</html>